PUBLIC_PUSHER_KEY=your_pusher_public_key
PUBLIC_PUSHER_CLUSTER=your_pusher_public_cluster
STORE_ID=your_store_id # store id that this app belongs to
BASE_API_ENDPOINT=your_api_endpoint_url # if local use: http://10.0.2.2:3000/api/mobile-app

# Environment settings
ENVIRONMENT=dev # dev or prod
DEV_BASE_API_URL=http://10.0.2.2:3000/api/mobile-app
PROD_BASE_API_URL=https://your-production-api.com/api/mobile-app

# Stripe Configuration
STRIPE_PUBLISHABLE_KEY=pk_test_51RQlVxC7OEnDMw98A3apz82xFBX9GLnUE3mIlAMtBKy1Ndj5KDeBA53drRmQ7BMdJVeou3PLjMFSU6a8fWSWHYEO007CafhnRk